:root {
  --white: #ffffff;
  --greent: #24975633;
  --greenp: #219653;
  --bluet: #2f80ed33;
  --bluep: #2f80ed;
  --purplet: #9b51e033;
  --purplep: #9b51e0;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-research {
  background: var(--greent);
  width: 76px;
}
.bg-web-desing {
  background: var(--bluet);
  width: 89px;
}
.bg-copywriting {
  background: var(--purplet);
  width: 91px;
}
.bg-research p {
  color: var(--greenp);
  width: 48px;
}
.bg-web-desing p {
  color: var(--bluep);
  width: 61px;
}
.bg-copywriting {
  color: var(--purplep);
  width: 63px;
}
.bg-Landing-Page {
  background: var(--greent);
  width: 98px;
}
.bg-Landing-Page p {
  color: var(--greenp);
  width: 70px;
}
.descrip-web-desing p {
  font-weight: 500;
  text-decoration-line: line-through;
}
.descrip-copywriting p {
  font-weight: 500;
}
.descrip-Landing-Page p {
  font-weight: normal;
}
